<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <title>{{ request.user.username }}'s Library</title>
</head>
<body>

{% if request.user.username %}
    <div class="page-header">
        <h1 >
            Welcome {{ request.user.username }}  <a href="/users/logout">Logout</a>
        </h1>
        <div class="btn-group" style="float: right; margin: -30px 10px 0 0;">
          <a href="#" class="btn btn-success">Add Book</a>
          <a href="#" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">.PDF</a></li>
            <li><a href="#">.TXT</a></li>
            <li><a href="#">.MP3</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
    </div>
{% endif %}
<ol>

    {% for book in books %}
        <li>
            <img src="../static/images/book_red.png" width="240">
            <h1>{{ book.name }}</h1>
            <p>&nbsp;&nbsp;&nbsp; written by: {{ todo.owner.username }}</p>
        </li>
    {% endfor %}
</ol>


{% if form %}
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Submit</button>
    </form>
{% endif %}

</body>

<script>
    function openCloseDropdown(button) {
        if ($(button).parent().parent().hasClass('open')){
            console.log("dededed");
            $(button).parent().addClass('open');
        }else{
            console.log($(button).parent().classList);
            console.log("asdas");
        }
    }
</script>

</html>