<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Words | Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
</head>
<body>
<div class="page-header">
    <h1>Login</h1>
</div>
<div>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group col-lg-3">
            <label class="control-label" for="focusedInput">Username:</label>
            <input name="username" class="form-control" id="focusedInput" type="text">
        </div>
        <div class="form-group col-lg-3">
            <label class="control-label" for="focusedInput">Password:</label>
            <input name="password" class="form-control" id="focusedInput" type="password">
        </div>
        <br>
        <button type="submit" class="btn btn-primary col-lg-1">Submit</button>
    </form>
</div>
<div class="col-md-11">
    <p>Don't have an account? So let's <a href="/users/sign_in">sign in!</a></p>
</div>
</body>
</html>
